* {
  border: none;
  border-radius: 0;
  font-family: AurulentSansM Nerd Font Mono;
}

window#waybar {
  background: transparent;
  color: #e0def4;
}

.modules-left,
.modules-right {
  background: #191724;
  margin: 5px 10px;
  padding: 0 5px;
  border-radius: 30px;
}

.modules-center {
  background: transparent;
}

#window {
  color: #f6c177;
}

#workspaces {
  background: transparent;
}

#workspaces button {
  margin: 0px;
  border-radius: 200px;
}

#workspaces button.focused {
  background: #eb6f92;
  color: #26233a;
}

#battery {
  color: #9ccfd8;
}

#battery.warning {
  color: #f6c177;
}

#battery.critical {
  color: #eb6f92;
}

#pulseaudio {
  color: #c4a7e7;
}

#backlight {
  color: #f6c177;
}

#clock {
  color: #ebbcba;
}

#custom-nixos {
  padding: 0 10px;
  font-size: 32px;
  color: #9ccfd8;
}
